.body {
   font-family: Courier, monospace; 
}

.main_block {
    margin: 0 auto;
    display: flex;
    width: 50%;

}

.main_img {
    color:black;
    margin-right: 20px;
    text-align: center;
    background-color: rgb(246, 253, 253);
}

.main_img img {
    border-radius: 30px;
}

.main_content {
    text-align: center;
    padding: 5px;
    background-color: rgb(246, 253, 253);
}

.main_header {
    text-align: center;
}

.contacts {
    text-align: center;
}

h3 {
    text-align: center;
}

footer div {
    margin: 0 auto;
    width: 50%;
    margin-top: 20px;
    height: 50px;
    background-color: rgb(246, 253, 253);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer div a {
    color:black;
}

li {
    list-style-type: none;
    padding-bottom: 5px;
}

ul {
    padding: 0;
}

details {
    text-align: left;;
}

details[open] {
    background-color: white;
}


.central__block {
    font-family: 'Montserrat', sans-serif;
    margin: 0 auto;
    max-width: 1000px;
    height: 1000px;
    color: white;
    box-shadow: 5px 5px 10px black;
    margin-bottom: 50px;

}



.content {
    display: flex;
}


.photo {
    width: 95%;
    margin: 5px;
    border-radius: 40%;
}

.first_section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px;
    height: 1000px;
    width: 30%;
    background-color: #4e5363;
    text-align: left;

}

h1 {
    color: #ffedcd;
    letter-spacing: 2px;
}

p {
    margin: 0;
    position: relative;
}

p::after {
    position: absolute;
    top:40px;
    left: -0px;
    content: "";
    width: 115%;
    border-bottom: 2px solid #ffedcd;
    
}